apiVersion: apps/v1
kind: Deployment
metadata:
  name: contenedor-page-load-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: contenedor-page-load
  template:
    metadata:
      labels:
        app: contenedor-page-load
    spec:
      containers:
      - name: contenedor-page-load
        image: imagen-page-load:v1
        ports:
        - containerPort: 80